#include "Resource.h"

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 250, 120
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Настройки"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Учитывать регистр", IDC_CHECK_CASE_SENSITIVE, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 15, 20, 120, 20
    DEFPUSHBUTTON "ОК", IDOK, 50, 90, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 120, 90, 50, 14
END

IDD_LOGVIEWER_DIALOG DIALOGEX 0, 0, 400, 300
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Просмотр лога"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_EDIT_LOG, "EDIT",
            WS_CHILD | WS_VISIBLE | WS_VSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY,
            7, 7, 386, 286
END 